.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.form ul,
.form ul li,
.form ul li input {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.form ul li,
.form ul label {
    margin-bottom: 10px;
}

.form ul li {
    margin: .4rem;
}

.form input {
    height: 1.5rem;
    border-radius: 3px;
    margin: 0;
}

.form button {
    align-self: flex-end;
}

.article {
    max-height: 35vh;
    overflow: scroll;
    background-color: var(--color-gamma-200);
}

.article ul li {
    margin: 0;
    padding: .4rem;
    display: flex;
    justify-content: space-around;
}

.article ul li * {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    flex-basis: 33%;
}

.article li:nth-child(2n) {
    background-color: var(--color-gamma-300);
}

.article li:hover {
    background-color: var(--color-gamma-500);
    cursor: pointer;
}

ul li .itemData {}

/* {
    flex-basis: 100%;
} */