.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.form ul,
.form ul li,
.form ul li input {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.form ul li,
.form ul label {
    margin-bottom: 10px;
}

.form ul li {
    margin: .4rem;
}

.form input {
    height: 1.5rem;
    border-radius: 3px;
    margin: 0;
}

.form button {
    align-self: flex-end;
}

.form ul li .radio {
    /* flex-basis: 10%; */
    flex-wrap: nowrap
}

/* {
    flex-basis: 100%;
} */