.workout {
    display: flex;
    flex: row;
    /* justify-content: space-around; */
    flex-wrap: wrap;

    flex-grow: 1;
}

.workout :is(article, header, footer) {
    min-width: 100%;
    margin: 10px auto
}

footer {
    display: flex;
    justify-content: flex-end;
}

article {}

/* footer>button {
    margin: 10px
} */