.settings {
    margin: 2rem 3rem;
    transition: all .9s;
    /* background-color: var(--color-beta-100); */
    flex-basis: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    flex: 2;
    color: inherit;
    background-color: color-mix(in srgb, var(--color-beta-100) 40%, transparent);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    display: flex;
}

.themeCard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.themeCard .theme-select {
    flex-basis: 10%;
    flex-shrink: 1;
}

/* .settings .theme-select {;
} */

/* 
.settings::before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    background: inherit;
} */

.theme-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    flex-grow: 1;
    margin: 10px;
}

.theme-select>img {
    max-width: 100%;
    border-radius: 8px;
    border: 2px solid var(--color-gamma-300);
    position: relative;
}

.theme-select>p {
    position: absolute;
}

.theme-select:hover>img {
    border: 2px solid var(--color-beta-500);
}

@media only screen and (max-width: 1000px) {
    .themeCard .theme-select {
        flex-basis: 40%;
    }
}