.settings {

    margin: 2rem 3rem;
    transition: all .9s;
    background-color: var(--color-beta-100);
    flex-basis: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    flex: 2;
    color: inherit;
}

.theme-select {
    cursor: pointer;
}

.theme-select:hover {
    color: white;
}