.settings {
    margin: 2rem 3rem;
    transition: all .9s;
    flex-basis: 1rem;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    flex: 2;
    color: inherit;
    border-radius: 10px;
    display: flex;
}

.themeCard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.themeCard .theme-select {
    flex-basis: 20vw;
    flex-shrink: 1;
}

.theme-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    flex-grow: 1;
    margin: 10px;
    transition: transform .6s;
}

.theme-select>img {
    max-width: 100%;
    border-radius: 8px;
    border: 2px solid var(--color-gamma-300);
    position: relative;
}

.theme-select>p {
    position: absolute;

    color: black;
    padding: .5rem 1rem;
    border-radius: 4px;
}

.theme-select:hover>img {
    border: 2px solid var(--color-beta-500);
}

.theme-select:hover {
    transform: scale(102%);
}

.userProfile {
    flex-basis: 40%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.userProfile button {
    max-width: 50%;
}

.userImg {
    border-radius: 50%;
    width: auto;
    height: auto;
    align-self: center;
    flex: 0 0 auto;
}

.userInfo li {
    margin: 1rem;
}

.themes {
    flex-basis: 100%;
}

@media only screen and (max-width: 1000px) {
    .themeCard .theme-select {
        flex-basis: 40%;
    }
}