.check {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.checkData {
    flex-basis: 1;
}

.calorieTracker {
    flex-grow: 2;
}