@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: ; */
}

:is(.register, .signin) {
    display: flex;
    justify-content: center;
}

:is(.register, .signin) form {
    max-height: none;
}

:is(.register, .signin) ul {
    /* display: flex;
    justify-content: center; */

    background-color: var(--color-gamma-100);
    border-radius: 10px;
    position: relative;
}

.signin ul {
    background: url("/signin.jpg");
    background-size: cover;
    background-position: left;
    background-clip: inherit;
    background-blend-mode: inherit;
}

/* .signin img {
    position: absolute;
    left: 0;
    top: 0;
    right: 50%;
    bottom: 0;
} */

:is(.register, .signin) form {
    max-width: 70%;
}

:is(.register, .signin) ul {
    filter: none;
    transition: filter .5s ease-in;
    filter: drop-shadow(0 0 4px var(--glow-color));
}

/* .signin ul {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh;
    height: 100dvh; */
/* }  */

.signInContainer {
    margin-left: 50%;
    padding: 5rem;
    background-color: var(--color-gamma-100);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 0 10px 10px 0;
}

.register .signInContainer {
    margin: 0;
    border-radius: 10px 10px 10px 10px;
}

.signin .signInContainer .signinItem {
    flex-basis: 100%;
    padding-bottom: 10px;
    text-align: center;
}

.signInBg {
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 0;
}

.googleSignIn {
    background: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 5px;
    /* flex-basis: 100%; */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.googleSignIn:hover {
    background: #ebebeb;
    /* color: darkgrey; */
    filter: drop-shadow(0 0 3px var(--glow-color));
}

.fitColor {
    color: var(--glow-color);
}

a .fitColor:hover {
    text-decoration: underline;
}

.googleSignIn span {
    margin: 0 8px;
}

.hrText {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    margin: 2rem;
    flex-basis: 100%;

    &:before {
        content: 'OR';
        background: linear-gradient(to right, transparent, #818078, transparent);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
    }

    &:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: black;

        padding: 0 .5em;
        line-height: 1.5em;
        color: #818078;
        background-color: var(--color-gamma-100);
    }
}

.register .hrText {
    margin: .3rem;
}

.register .signInContainer .signinItem {
    margin: 1rem;
}

.register .signInContainer {
    max-height: 90vh;
    max-height: 90dvh;
    overflow-y: auto;
}

.register select {
    border-radius: 3px;
    height: 1.5rem;
}

.register select:first-child {
    margin-right: 5px !important;
}

.register .signInContainer * {
    margin: 0;
    padding: 0;
}

li>input[type=radio] {
    align-self: center;
    justify-self: center;
}

div li {
    padding-top: .5rem !important;
}

.register label {
    line-height: 2rem;
}

.register .signInScreen .signinItem {
    margin: 3rem;
    display: flex;
    align-items: left;
}

.register .signinItem {
    padding: .3rem;
}

.register .signinItem li {
    padding: 0;
}

.signinItem :is(div, select) {
    flex-basis: 100%;
    display: flex;
    margin: 0 1rem;
}

.button {
    flex-basis: 100%;
    line-height: 2rem;
}


.radios {
    display: flex;
}

.privacyPolicy {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .register form {
        max-width: none !important;
        /* margin: 1rem; */
        height: 100vh;
        height: 100dvh;
        border-radius: 0;
    }

    .signInContainer {
        margin: 0;
        flex-basis: 100%;
        background: none;
        padding: 2rem;
    }

    .signin ul {
        background: none;
    }
}