.article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: ; */
}

.signin ul {
    display: flex;
    justify-content: center;
    padding: 5rem;
    background-color: var(--color-gamma-100);
    border-radius: 10px;

    /* background-image: url("/signin.jpg");
    background-size: cover;
    background-clip: inherit; */
}

.signin ul {
    filter: none;
    transition: filter .5s ease-in;
    filter: drop-shadow(0 0 9px var(--glow-color));
}

.signin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh
}