.recipe {
    display: flex;
    flex: column;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
}

.header a {
    flex-grow: 1;
    border-radius: 15px 15px 4px 4px;
    background-color: var(--color-gamma-300);
    text-align: center;
    box-shadow: inset 4px -4px var(--color-gamma-100);
}

.header a:first-of-type {
    border-radius: 15px 15px 4px 4px;
    box-shadow: inset -4px -4px var(--color-gamma-100);
}

.header a h3 {
    margin: .6rem;
}

.header a.active {
    border-radius: 15px 15px 0 0;
    margin: 0;
    background-color: var(--color-gamma-200);
    box-shadow: none;
}



.recipe-table {
    grid-template-columns: repeat(5, 1fr);
}

.ingredient-table {
    grid-template-columns: 30% 70%;
}

:is(.ingredient-table, .recipe-table) {
    overflow-y: scroll
}

.recipe :is(article, header, footer) {
    min-width: 100%;
    padding: 10px auto
}

.header,
.footer {
    display: flex;
    justify-content: space-around;
}

.header {
    padding: 0 0;
    padding-right: 2rem;
}

.article {
    background-color: var(--color-gamma-200);
    border-radius: 2px 2px 5px 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header i {
    padding-left: .4rem;
}

.article :is(p, i) {
    text-align: center;
}

i {
    padding-left: 10px;
}

.footer>button {
    margin: 10px;
}

.ingredient-table ul {
    display: flex;
    text-align: left;
    padding-left: 10%;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(3, 1fr);
    padding: 0 20%;
    text-align: left; */
}

.ingredient-table li {
    white-space: normal;
    padding-right: 4px;
    /* flex-grow: 1; */
}

.article .circle {
    align-items: center;
}

.circle {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 1rem auto;
}

.circle:after {
    content: " ";
    display: block;

    width: 2rem;
    height: 2rem;

    border-radius: 50%;
    border: 6px solid var(--color-alpha-300);
    border-color: var(--color-alpha-300) transparent var(--color-alpha-300) transparent;
    animation: circle-animation 1.2s linear infinite;
}

@keyframes circle-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ingList {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.ingList div {
    background-color: var(--color-alpha-300);
    margin: .5rem;
    padding: .5rem;
    color: white;
    /* overflow: hidden; */
    flex-basis: 30%;
    flex-grow: 1;
    /* max-width: 30%; */
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    border-radius: 3px;
}

.ingList div .ingItem {
    /* flex-basis: 100%; */
    flex-grow: 1;
    /* margin: 0 auto; */
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
}

.ingList div .ingExit {
    /* flex-basis: 100%; */
    flex-shrink: 1;
    /* margin: 0 auto; */
    max-width: 5rem;
    ;
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;
    justify-content: center;
}

.ingItem {
    /* flex-basis: 70%; */
    /* min-width: fit-content; */
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    /* flex-shrink: 1; */
}

.ingExit {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 3rem;
    /* flex-basis: min-content; */
    min-width: min-content;
    text-align: center;
    justify-self: flex-end;
    /* max-width: min-content; */
    align-self: center;
    /* flex-shrink: 1; */
}

.ingList div:hover {
    background-color: var(--color-alpha-100);
    cursor: pointer;
}

.ingList div:hover :is(.ingExit, .ingItem) {
    background-color: transparent;
    color: black;
}

.article p {
    margin: 4rem;
}

/* .ingList div {
    flex-basis: 100%;
    flex-grow:
    margin: 0;
    padding: 0;
}

.ingList div:first-child {

    flex-basis: 70%;
}

.ingList div:last-child {
    flex-grow: 1;

    min-width: min-content;
} */