@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Rubik:ital,wght@0,300;0,400;1,300;1,400&display=swap');

* {
  border: 0;
  box-sizing: border-box;
}

/* Light Color Scheme */
:root {

  /* Color Inspiration */
  /* Celestial Blue: 1E91D6 */
  /* 0072BB */
  /* 3EC300 */
  /* 002626 */
  --backdrop-color: #889ca740;

  --color-alpha: #E6E9E9;
  --color-alpha-100: #BFC9C9;
  --color-alpha-200: #8C9D9D;
  --color-alpha-300: #597272;
  --color-alpha-400: #264747;
  --color-alpha-500: #002222;
  --color-alpha-600: #001B1B;
  --color-alpha-700: #001313;
  --color-alpha-800: #000B0B;
  --color-alpha-900: #000404;

  /* --light-green: #ECF9E6;
  --light-green-100: #CFF0BF;
  --light-green-200: #A8E48C;
  --light-green-300: #82D859;
  --light-green-400: #5BCC26;
  --light-green-500: #38B000;
  --light-green-600: #2B8900;
  --light-green-700: #1F6200;
  --light-green-800: #061300;
  --light-green-900: #061300; */

  --color-beta: #E6F1F8;
  --color-beta-100: #BFDCEE;
  --color-beta-200: #8CC0E0;
  --color-beta-300: #59A3D3;
  --color-beta-400: #2687C5;
  --color-beta-500: #0067A8;
  --color-beta-600: #005083;
  --color-beta-700: #00395E;
  --color-beta-800: #002238;
  --color-beta-900: #000B13;

  --color-gamma: #FFFFFF;
  --color-gamma-100: #D6FFF4;
  --color-gamma-200: #99FFE4;
  --color-gamma-300: #5CFFD3;
  --color-gamma-400: #1FFFC3;
  --color-gamma-500: #00E0A5;
  /* --color-gamma-00:
    --color-gamma-00:
    --color-gamma-00: */

  --primary-gold-500: #F8F32B;
  color: black;
}

/* Dark Color Scheme */

:root .dark {
  /* Color Inspiration */
  /* Celestial Blue: 1E91D6 */
  /* 0072BB */
  /* 3EC300 */
  /* 002626 */
  --backdrop-color: #889ca740;

  --color-alpha: #E6F1F8;
  --color-alpha-100: #001B1B;
  --color-alpha-200: #001313;
  --color-alpha-300: #000B0B;
  --color-alpha-400: #000404;

  --color-alpha-500: #002222;

  --color-alpha-600: #001B1B;
  --color-alpha-700: #001313;
  --color-alpha-800: #000B0B;
  --color-alpha-900: #000404;

  --color-beta: #E6F1F8;
  --color-beta-100: #3D3A41;
  --color-beta-200: #312E34;
  --color-beta-300: #333036;
  --color-beta-400: #29262B;

  --color-beta-500: #1F1D20;


  --color-beta-600: #005083;
  --color-beta-700: #00395E;
  --color-beta-800: #002238;
  --color-beta-900: #000B13;

  --color-gamma: var(--color-beta);
  --color-gamma-100: var(--color-beta-100);
  --color-gamma-200: var(--color-beta-200);
  --color-gamma-300: var(--color-beta-300);
  --color-gamma-400: var(--color-beta-400);
  --color-gamma-500: var(--color-beta-500);


  /* Purple Theme */
  /* --color-gamma: #D4C7E6;
  --color-gamma-100: #BEABD9;
  --color-gamma-200: #A88ECC;
  --color-gamma-300: #9372C0;
  --color-gamma-400: #7D56B3;
  --color-gamma-500: #69469B; */

  /* Blue Theme */
  /* --color-gamma: #E6F1F8;
  --color-gamma-100: #2687C5;
  --color-gamma-200: #0067A8;
  --color-gamma-300: #005083;
  --color-gamma-400: #00395E;
  --color-gamma-500: #002238; */


  /* Yellow Theme */
  /* --color-gamma: #D4C7E6;
  --color-gamma-100: #F8F32B;
  --color-gamma-200: #F8F412;
  --color-gamma-300: #DAD607;
  --color-gamma-400: #B2AF06;
  --color-gamma-500: #8A8805; */

  /* --color-gamma-00:
    --color-gamma-00:
    --color-gamma-00: */
  --primary-gold-500: #F8F32B;
  --primary-teal-500: #5CFFD3;
}

.card {
  padding: 2em;
  border: 2px solid var(--light-green-300);
}

body {
  border-top: 2vh solid var(--color-beta-500);
  background: linear-gradient(var(--color-gamma), var(--color-gamma-500));
  /* background: linear-gradient(var(--primary-gold-500), var(--color-gamma-100)); */
  background-repeat: no-repeat;
  color: var(--color-alpha-800);
  margin: 0;
  font-family: 'Rubik', sans-serif;
  min-height: 100vh;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;

}

.dark {
  color: white;
}

.dark .waves path {
  filter: none;
  transition: filter .5s ease-in;
  filter: drop-shadow(0 -3px 4px var(--primary-teal-500));
}

.dark {
  background: linear-gradient(var(--color-beta-500), var(--color-beta-100));
}

.root {
  display: flex;
  flex-direction: row;
  height: 98vh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  margin: 2rem 3rem;
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
  /* justify-content: center;
  align-items: center; */
}

/* a {
  color: rgb(196, 128, 102);
}

a:hover,
a:active {
  color:rgb(108, 190, 208);
} */

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */