@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Rubik:ital,wght@0,300;0,400;1,300;1,400&display=swap');

* {
  border: 0;
  box-sizing: border-box;
}


/* Light Color Scheme */
:root {

  /* Color Inspiration */
  /* Celestial Blue: 1E91D6 */
  /* 0072BB */
  /* 3EC300 */
  /* 002626 */

  --color-transparent-gray: #889ca740;

  --color-blue-gray: #E6E9E9;
  --color-blue-gray-100: #BFC9C9;
  --color-blue-gray-200: #8C9D9D;
  --color-blue-gray-300: #597272;
  --color-blue-gray-400: #264747;
  --color-blue-gray-500: #002222;
  --color-blue-gray-600: #001B1B;
  --color-blue-gray-700: #001313;
  --color-blue-gray-800: #000B0B;
  --color-blue-gray-900: #000404;

  --color-light-green: #ECF9E6;
  --color-light-green-100: #CFF0BF;
  --color-light-green-200: #A8E48C;
  --color-light-green-300: #82D859;
  --color-light-green-400: #5BCC26;
  --color-light-green-500: #38B000;
  --color-light-green-600: #2B8900;
  --color-light-green-700: #1F6200;
  --color-light-green-800: #061300;
  --color-light-green-900: #061300;

  --color-light-red: #FFDAD6;
  --color-light-red-100: #FFCAC2;
  --color-light-red-200: #FFA799;
  --color-light-red-300: #FF8370;
  --color-light-red-400: #FF6047;
  --color-light-red-500: #FF3D1F;

  --color-primary-blue: #E6F1F8;
  --color-primary-blue-100: #BFDCEE;
  --color-primary-blue-200: #8CC0E0;
  --color-primary-blue-300: #59A3D3;
  --color-primary-blue-400: #2687C5;
  --color-primary-blue-500: #0067A8;
  --color-primary-blue-600: #005083;
  --color-primary-blue-700: #00395E;
  --color-primary-blue-800: #002238;
  --color-primary-blue-900: #000B13;

  --color-dark-purple: #E6F1F8;
  --color-dark-purple-100: #3D3A41;
  --color-dark-purple-200: #312E34;
  --color-dark-purple-300: #333036;
  --color-dark-purple-400: #29262B;
  --color-dark-purple-500: #1F1D20;

  --color-light-teal: #FFFFFF;
  --color-light-teal-100: #D6FFF4;
  --color-light-teal-200: #99FFE4;
  --color-light-teal-300: #5CFFD3;
  --color-light-teal-400: #1FFFC3;
  --color-light-teal-500: #00E0A5;

  --primary-gold-500: #F8F32B;
  color: black;

  /* Purple Theme */
  --color-light-purple: #D4C7E6;
  --color-light-purple-100: #ded2f0;
  --color-light-purple-200: #b79eda;
  --color-light-purple-300: #ab89d9;
  --color-light-purple-400: #a27dd7;
  --color-light-purple-500: #8768b2;

  /* Blue Theme */
  --color-blue: #E6F1F8;
  --color-blue-100: #2687C5;
  --color-blue-200: #0067A8;
  --color-blue-300: #005083;
  --color-blue-400: #00395E;
  --color-blue-500: #002238;


  /* Yellow Theme */
  --color-light-yellow: #FFFDEB;
  --color-light-yellow-100: #faf9b5;
  --color-light-yellow-200: #fcfa6d;
  --color-light-yellow-300: #e1de2c;
  --color-light-yellow-400: #bebb19;
  --color-light-yellow-500: #9f9d10;
}

.light {
  /*Light Teal Default Color*/
  --backdrop-color: var(--color-transparent-gray);

  --color-alpha: var(--color-blue-gray);
  --color-alpha-100: var(--color-blue-gray-100);
  --color-alpha-200: var(--color-blue-gray-200);
  --color-alpha-300: var(--color-blue-gray-300);
  --color-alpha-400: var(--color-blue-gray-400);
  --color-alpha-500: var(--color-blue-gray-500);


  --color-beta: var(--color-primary-blue);
  --color-beta-100: var(--color-primary-blue-100);
  --color-beta-200: var(--color-primary-blue-200);
  --color-beta-300: var(--color-primary-blue-300);
  --color-beta-400: var(--color-primary-blue-400);
  --color-beta-500: var(--color-primary-blue-500);
}

.light.teal {
  --color-gamma: var(--color-light-teal);
  --color-gamma-100: var(--color-light-teal-100);
  --color-gamma-200: var(--color-light-teal-200);
  --color-gamma-300: var(--color-light-teal-300);
  --color-gamma-400: var(--color-light-teal-400);
  --color-gamma-500: var(--color-light-teal-500);
}

.light.purple {
  --color-gamma: var(--color-light-teal);
  --color-gamma-100: var(--color-light-purple-100);
  --color-gamma-200: var(--color-light-purple-200);
  --color-gamma-300: var(--color-light-purple-300);
  --color-gamma-400: var(--color-light-purple-400);
  --color-gamma-500: var(--color-light-purple-500);
}

.light.yellow {
  --color-gamma: var(--color-light-teal);
  --color-gamma-100: var(--color-light-yellow-100);
  --color-gamma-200: var(--color-light-yellow-200);
  --color-gamma-300: var(--color-light-yellow-300);
  --color-gamma-400: var(--color-light-yellow-400);
  --color-gamma-500: var(--color-light-yellow-500);
}

.light.green {
  --color-gamma: var(--color-light-green);
  --color-gamma-100: var(--color-light-green-100);
  --color-gamma-200: var(--color-light-green-200);
  --color-gamma-300: var(--color-light-green-300);
  --color-gamma-400: var(--color-light-green-400);
  --color-gamma-500: var(--color-light-green-500);
}

.light.blue {
  --color-gamma: var(--color-blue);
  --color-gamma-100: var(--color-primary-blue-100);
  --color-gamma-200: var(--color-primary-blue-200);
  --color-gamma-300: var(--color-primary-blue-300);
  --color-gamma-400: var(--color-primary-blue-400);
  --color-gamma-500: var(--color-primary-blue-500);
}

.light.red {
  --color-gamma: var(--color-light-red);
  --color-gamma-100: var(--color-light-red-100);
  --color-gamma-200: var(--color-light-red-200);
  --color-gamma-300: var(--color-light-red-300);
  --color-gamma-400: var(--color-light-red-400);
  --color-gamma-500: var(--color-light-red-500);
}

.dark {
  --backdrop-color: #889ca740;

  --color-alpha: #E6F1F8;
  --color-alpha-100: var(--color-blue-gray-500);
  --color-alpha-200: var(--color-blue-gray-600);
  --color-alpha-300: var(--color-blue-gray-700);
  --color-alpha-400: var(--color-blue-gray-800);
  --color-alpha-500: var(--color-blue-gray-900);

  --color-beta: var(--color-dark-purple);
  --color-beta-100: var(--color-dark-purple-100);
  --color-beta-200: var(--color-dark-purple-200);
  --color-beta-300: var(--color-dark-purple-300);
  --color-beta-400: var(--color-dark-purple-400);
  --color-beta-500: var(--color-dark-purple-500);

  --color-gamma: var(--color-beta);
  --color-gamma-100: var(--color-beta-100);
  --color-gamma-200: var(--color-beta-200);
  --color-gamma-300: var(--color-beta-300);
  --color-gamma-400: var(--color-beta-400);
  --color-gamma-500: var(--color-beta-500);

  --scroll-gamma: gray;
}

.dark.teal {
  --glow-color: var(--color-light-teal-500);
}

.dark.purple {
  --glow-color: var(--color-light-purple-100);
}

.dark.yellow {
  --glow-color: var(--color-light-yellow-100);
}

.dark.green {
  --glow-color: var(--color-light-green-300);
}

.dark.blue {
  --glow-color: var(--color-blue-100);
}

.dark.red {
  --glow-color: var(--color-light-red-400)
}


.card {
  padding: 2em;
  border: 2px solid var(--light-green-300);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--color-alpha-500) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-alpha-300);
  border-radius: 12px;
  border: 1px solid var(--scroll-gamma);
}

body {

  background: linear-gradient(white, white);
  transition: background 3s;
  background: linear-gradient(var(--color-gamma), var(--color-gamma-500));
  /* background: linear-gradient(var(--primary-gold-500), var(--color-gamma-100)); */
  background-repeat: no-repeat;
  /* color: var(--color-alpha-800); */
  color: var(--color-alpha-500);
  margin: 0;
  font-family: 'Rubik', sans-serif;
  min-height: 100vh;
  width: 100%;
  overflow-y: scroll;

}

.dark {
  color: white;
}

.dark .waves path {
  filter: none;
  transition: filter .5s ease-in;
  filter: drop-shadow(0 -3px 4px var(--glow-color));
}



.dark {
  background: linear-gradient(var(--color-beta-500), var(--color-beta-100));
}

.root {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  width: 100%;

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  padding: 2rem 3rem;
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  justify-content: flex-start;
  /* overflow-x: hidden;
  overflow-y: scroll; */
}

a {
  cursor: pointer;
}

.signInScreen {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.App form {
  max-width: 70%;
}


@media only screen and (max-width: 768px) {
  .root {
    flex-direction: column;
  }

  main {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
}

/* a {
  color: rgb(196, 128, 102);
}

a:hover,
a:active {
  color:rgb(108, 190, 208);
} */

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */