.button {
    background-color: var(--color-beta-100);
    padding: .5rem 1rem;
    margin: .5rem;
    border-radius: 3px;
    color: inherit
}

.button:hover {
    background-color: var(--color-beta-500);
    cursor: pointer;
}

.dark .button {
    border: 2px solid white;
}