.button {
    background-color: var(--color-beta-300);
    padding: .5rem 1rem;
    margin: .5rem;
    border-radius: 3px;
    color: inherit
}



.button:hover {
    background-color: var(--color-beta-500);
    color: white;
    cursor: pointer;
}

.button:disabled {
    background-color: var(--color-beta-100);
    color: black;
    cursor: auto;
}

.button {
    border: 1px solid white;
}