.card {
  margin: 1rem;
  border-radius: 6px;
  background-color: var(--color-gamma-100);
  padding: 1rem;

  flex-basis: 40%;
  flex-grow: 1;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}