.input {
    padding: 1rem;
    border: 2px solid var(--color-alpha-100);
}

/* .input[type="date"] {
    padding: 
} */

.error {
    outline: 1px solid red;
}

.error-text {
    color: red;
    margin-top: 5px;
}

.radio {
    flex-wrap: nowrap;
    justify-content: center;
    padding: 10px;
}

.radio input[type="radio"] {
    flex-basis: 10%;
}