.error {
    outline: 1px solid red;
    /* background-color: red; */
    /* background-color: (--error-100); */
}

.error-text {
    color: red;
    margin-top: 5px;
}

.radio {
    flex-wrap: nowrap;
    justify-content: center;
    padding: 10px;
}

.radio input[type="radio"] {
    flex-basis: 10%;
}