.table {
    display: grid;
    max-height: 15rem;
    /* max-width: 100%; */
    /* overflow: auto; */
}


.table .thead,
.table .tbody,
.table tr {
    display: contents;
}

.table td,
.table tr {
    text-align: center;
}

.table tr:nth-child(2n) td {
    background-color: var(--color-gamma-300);
}

.table tr:hover td {
    background-color: var(--color-gamma-500);
    cursor: pointer;
}


/* .table .thead,
.table .tbody,
.table tr {
    display: flex;
    flex-grow: 1;
    min-width: 100%;
    flex-wrap: wrap;
}

.table td,
.table th,
.table tr {
    flex-grow: 1;
} */