.table {
    display: grid;
    max-height: 15rem;
}


:is(.thead, .tbody, tr) {
    display: contents;
}

.table td,
.table tr {
    text-align: center;
}

.table tr:nth-child(2n) td {
    background-color: var(--color-gamma-300);
}

.table tr:hover td {
    background-color: var(--color-gamma-500);
    cursor: pointer;
}